# Dependencies
node_modules/
venv/
.venv/

# Environment variables
.env
*.env

# Python & ML artifacts
__pycache__/
*.py[cod]
*$py.class
*.pt
*.pth
*.onnx
.pytest_cache/

# System & IDE
.DS_Store
.vscode/
.idea/
